body {
    background-color: rgb(153, 255, 255);
    color: black;
}

h1 {
    font-size: 100px;
    text-align: center;
}

#id_countries {
	height: 100px;
	overflow: scroll;
	border-style: solid;
}

.seller {
    font-size: 40px;
    font-family: Arial;
}