body {
    background-color: #C0C0C0;
    color: black;
}

h1 {
    font-size: 50px;
    text-align: center;
}

table.result, table.result th, table.result td {
	border: 1px solid black;
	border-collapse: collapse;
}
td {
	vertical-align: top;
}

.formBody {
	border: 5px solid #00009c;
  	border-collapse: collapse;
  	padding: 10px;
}

.Form {
	padding-bottom: 10px;
}

#id_countries {
	height: 200px;
	width: 200px;
	overflow: scroll;
	border-style: solid;
	border-width: 3px;
	border-color: #00009c;
}

.seller {
    font-size: 40px;
    font-family: Arial;
}

.notNav{
    padding: 20px;
}



