

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

img {
  max-width: 100%;
  height: auto;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #00009c;
  color: white;
}
</style>
</head>
<body>

<div class="topnav">
  <a class="active" href="http://127.0.0.1:8000/">Home</a>
  <a href="http://127.0.0.1:8000/countries/">Countries</a>
  <a href="http://127.0.0.1:8000/newseller/">Add Listing</a>
  <a href="http://127.0.0.1:8000/match/">Match</a>
</div>

<!-- <div style="padding-left:16px">
  <h2>Top Navigation Example</h2>
  <p>Some content..</p>
</div> -->

</body>
</html>




{% load static %}
<html lang="en-US">
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <h1>Welcome to Project Energy</h1>
    </head>

    <!-- {% for seller in sellers_in_egypt %}
    <div class="seller">
        {{ seller.email }}, {{ seller.phone_number }}, {{ seller.country_name }}
    </div>
    {% endfor %} -->
</html>





<!DOCTYPE html>
<html>
<body>


<h2><img src="https://www.mckinsey.com/~/media/McKinsey/Business%20Functions/Sustainability/Our%20Insights/The%20new%20economics%20of%20energy%20storage/Insights-MoSRP-The-new-economics-of-energy-storage-1536x1536-100_Standard.ashx"/></h2>
</body>
</html>

