{% load static %}
<html lang="en-US">
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <h1> Welcome to matchmaker.</h1>
        <h3> Here you can find electricty sources close to you within your price range!</h3>
    </head>
    <div>
    	<form class="formBody" action="/match/" method="post">
            {% csrf_token %}
            <div class="Form">
                <table>
                    <tr>
                    {% for field in info %}
                        <td>
                        {{ field.label }} {{ field }}
                        </td>
                    {% endfor %}
                    </tr>
                </table>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
    <h3> Sellers:</h3>
    <table class="result">
        <tr>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Country</th>
            <th> Price per kwh (USD)</th>
        </tr>
        {% for seller in matches %}
        <tr>
            <td>{{ seller.email }}</td> 
            <td>{{ seller.phone_number }}</td> 
            <td>{{ seller.country_name }}</td> 
            <td>{{seller.price_per_kwh}}</td>
        </tr>
        {% endfor %}
        </table>
</html>